/*webkit-sassui-flex-lfixed-rauto Start*/
.webkit-sassui-flex-lfixed-rauto {
  display: flex;
  align-items: center;
}

.webkit-sassui-flex-lfixed-rauto > .right {
  flex: 1;
}

.webkit-sassui-flex-lfixed-rauto[data-align=flex-start] {
  align-items: flex-start;
}

.webkit-sassui-flex-lfixed-rauto[data-align=center] {
  align-items: center;
}

.webkit-sassui-flex-lfixed-rauto[data-align=flex-end] {
  align-items: flex-end;
}

/*webkit-sassui-flex-lfixed-rauto End*/
.test-webkit-sassui-flex-lfixed-rauto {
  border: 1px solid salmon;
  margin-bottom: 20px;
}

.test-webkit-sassui-flex-lfixed-rauto > .left {
  margin-right: 20px;
}
